
/*********************
    PATTERNS
*********************/

// Será utilizado '-' para separar nome de variaveis
// Variaveis de fonte serão por padrão declaradas com o nome da fonte

/*********************
    FONTS
*********************/

$montserrat: 'Montserrat', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;

/*********************
    COLORS
*********************/

// Usada para logos, icons e background
$primary: #282828;
// Usada para textos
$secondary: #484848;
// Usada para spans
$light-blue: #28abdb;
// Usada para markers de questões respondidas corretamente
$light-green: #2CFF33;
// Usada para markers de questões respondidas incorretamente
$light-red: #FF1F18;
