
@import '_bootstrap';


#header {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;

  #header-container {
    margin: 0 auto;
    padding: 0;
    width: 55%;
    // Contain the float on elements
    overflow: auto;

    #logo-space {
      display: inline-block;
      float: left;
      margin: 0;
      padding: 10px;

      #logo {
        font-family: $montserrat;
        font-size: 33px;
        font-weight: 400;
        color: $secondary;
      }
    }

    #nav {
      display: inline-block;
      float: right;
      margin: 0;
      padding: 10px;

      #nav-list {
        padding: 12px 0;

          .nav-list-item {
            display: inline;
            margin: 0px 10px;
            padding: 10px 10px;
            font-family: $montserrat;
            font-size: 18px;
            font-weight: 400;
            color: $secondary;

            span {
              padding: 18px;
              background: $primary;
              color: #FFF;
              border-radius: 10px;
            }

            a {
              color: $secondary;

              &:link, &:visited {
                color: $secondary;
              }

              &:hover {

              }
            }

          }
      }

    }

  }

}


#presentation {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  background: $primary;

  #presentation-itens {
    margin: 0 auto;
    padding: 20px;
    width: 50%;

    .presentation-img {
      display: block;
      width: 185px;
      height: 185px;
      margin: 20px auto;
      padding: 15px;
    }

    .presentation-text {
      padding: 15px 30px;
      font-family: $sourceSansPro;
      font-size: 1.7em;
      font-weight: 400;
      color : #FFF;
      line-height: 1.7;
      text-align: center;
    }

  }

}

#wrapper {

  .section {
    margin: 50px auto;
    padding: 20px;
    width: 100%;

    .container {
      margin: 0 auto;
      padding: 30px;
      width: 45%;

      .heading {
        padding: 15px;
        font-family: $montserrat;
        font-size: 23px;
        font-weight: 400;
        color: $secondary;
        text-align: center;
        line-height: 1.5;
      }

      .text {
        padding: 15px;
        font-family: $sourceSansPro;
        font-size: 19px;
        font-weight: 400;
        color: $secondary;
        text-align: center;
        line-height: 1.5;
        opacity: 0.9;
      }


    }

  }

  #research {
    .container {
      width: 60%;

      .heading {
        margin: 50px 0px;
        padding: 0px 20px;
        font-size: 80px;
        letter-spacing: 1.5px;
      }

    }
  }

  #caller {
    a {
      color: #FFF;
      &:link, &:visited {
        color: #FFF;
      }
    }
  }

  #caller-button {
    display: block;
    margin: 20px auto;
    width: 40%;
    padding: 15px;
    font-family: $montserrat;
    font-size: 19px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    background: $primary;
    border-radius: 10px;
  }


}


#footer {
  width: 100%;
  margin: 0;
  margin-top: 60px;
  padding: 20px;
  background: $primary;

  #copyright {
    padding: 15px;
    font-family: $montserrat;
    font-size: 22px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
  }
}
