
@import 'auth';
@import '_sidemenu';
@import '_modal';


#wrapper {
  margin: 0 auto;
  margin-left: 300px;
  padding: 20px;
  height: 100%;
}


.section {
  margin: 30px auto;
  padding: 20px;
  width: 60%;

  @media screen and (max-width: 1367px) {
    width: 85%;
  }
}

#updatePassword {
  margin-top: 0px;
}

.holder {
  margin: 0px auto;
  width: 50%;

  .pre-input-text {
    margin: 15px;
    padding: 15px;
    font-family: $montserrat;
    font-size: 17px;
    font-weight: 400;
    color: $secondary;
    line-height: 1.5;
    opacity: 0.8;
    text-align: center;
  }

  .error {
    margin: 8px;
    padding: 8px;
    color: red;
  }

}

.form-title {
  margin: 20px;
  padding: 20px;
  font-family: $montserrat;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: $secondary;
  opacity: 0.8;
}

.form-text {
  margin: 5px;
  padding: 5px;
  font-family: $montserrat;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: $secondary;
  opacity: 0.8;
}

input[type='text'], input[type="password"] {
  display: block;
  margin: 25px auto;
  padding: 15px 20px;
  width: 50%;
  border: 2px solid #dad7d4;
  border-radius: 10px;

  font-family: $montserrat;
  font-size: 17px;
  font-weight: 400;
  color: $secondary;
  opacity: 0.9;
}

input[type="submit"] {
  outline: 0;
  border: none;
  display: block;
  margin: 40px auto;
  width: 40%;
  padding: 15px;

  font-family: $montserrat;
  font-size: 19px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  background: $primary;
  border-radius: 10px;
  cursor: pointer;
}

#deleteButton {
  margin: 40px auto;
  width: 40%;
  padding: 18px;

  font-family: $montserrat;
  font-size: 19px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  background: #FF1A1E;
  border-radius: 10px;
  cursor: pointer;
}
