
@import '_bootstrap';
@import '_sidemenu';
@import '_modal';

#wrapper {
  margin: 0 auto;
  margin-left: 300px;
  padding: 20px;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 40%;

  @media screen and (max-width: 1367px) {
    width: 60%;
  }
}

.section {
  margin: 50px auto;
  padding: 20px;

  .section-img {
    display: block;
    margin: 60px auto;
    width: 165px;
    height: 165px;
    text-align: center;
  }

  .section-text {
    font-family: $montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    color: $secondary;
  }

  .section-link {
    display: block;
    margin: 50px auto;
    padding: 20px;
    width: 45%;
    font-family: $montserrat;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    color: #FFF;
    background: $primary;
    border: none;
    border-radius: 10px;
  }

}
